@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proxima-nova-2/Mark-Simonson-Proxima-Nova-Regular.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proxima-nova-2/Mark-Simonson-Proxima-Nova-Regular.otf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proxima-nova-2/Mark-Simonson-Proxima-Nova-Bold.otf')
    format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proxima-nova-2/Mark-Simonson-Proxima-Nova-Bold.otf')
    format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --foreground-rgb: #fff;
  --background-color: #0e0e10;
  --secondary-color: #888;
  --primary-button-bg-color: #fff;
  --primary-button-fg-color: #000;
  --primary-button-hover-color: linear-gradient(
      0deg,
      rgb(0 0 0 / 20%) 0%,
      rgb(0 0 0 / 20%) 100%
    ),
    #fff;
  --primary-button-active-color: linear-gradient(
      0deg,
      rgb(0 0 0 / 40%) 0%,
      rgb(0 0 0 / 40%) 100%
    ),
    #fff;
  --secondary-button-bg-color: rgb(255 255 255 / 8%);
  --secondary-button-fg-color: #fff;
  --white-opacity-2: rgb(255 255 255 / 2%);
  --white-opacity-3: rgb(255 255 255 / 3%);
  --white-opacity-4: rgb(255 255 255 / 4%);
  --white-opacity-5: rgb(255 255 255 / 5%);
  --white-opacity-6: rgb(255 255 255 / 6%);
  --white-opacity-8: rgb(255 255 255 / 8%);
  --white-opacity-10: rgb(255 255 255 / 10%);
  --white-opacity-12: rgb(255 255 255 / 12%);
  --white-opacity-14: rgb(255 255 255 / 14%);
  --white-opacity-16: rgb(255 255 255 / 16%);
  --white-opacity-20: rgb(255 255 255 / 20%);
  --white-opacity-24: rgb(255 255 255 / 24%);
  --white-opacity-25: rgb(255 255 255 / 25%);
  --white-opacity-60: rgb(255 255 255 / 60%);
  --dropdown-bg: #1d1d20;
  --dropdown-boxshadow: -2px 2px 24px 0 rgb(0 0 0 / 40%);
  --node-container-bg: linear-gradient(
      0deg,
      rgb(255 255 255 / 4%) 0%,
      rgb(255 255 255 / 4%) 100%
    ),
    #131315;
  --node-container-boxshadow: -16px 16px 80px 0 rgb(0 0 0 / 40%);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.proxima_nova {
  font-family: 'Proxima Nova', sans-serif;
}

.space_mono {
  font-family: 'Space Mono', sans-serif;
}

.public_sans {
  font-family: 'Public Sans', sans-serif;
}

.secondary_color {
  color: var(--secondary-color);
}

.border_8 {
  border: 1px solid var(--white-opacity-8);
}

.border_bottom {
  border-bottom: 1px solid var(--white-opacity-8);
}

.border_right {
  border-right: 1px solid var(--white-opacity-8);
}

.border_top {
  border-top: 1px solid var(--white-opacity-8);
}

.border_left {
  border-left: 1px solid var(--white-opacity-8);
}

.primary_large,
.primary_medium,
.primary_small {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid var(--white-opacity-8) !important;
  background: var(--primary-button-bg-color);
  color: var(--primary-button-fg-color) !important;
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.primary_medium,
.primary_small {
  gap: 4px;
}

.primary_large {
  gap: 8px;
  height: 42px;
  font-size: 16px;
}

.primary_medium {
  height: 34px;
  font-size: 14px;
  padding: 0 12px;
}

.primary_small {
  height: 28px;
  padding: 0 8px;
  font-size: 12px;
}

.primary_large:disabled,
.primary_medium:disabled,
.primary_small:disabled {
  cursor: not-allowed;
  opacity: 0.2;
  background: var(--foreground-rgb);
  border: 1px solid var(--white-opacity-8);
  color: var(--background-color);
}

.primary_large:hover,
.primary_medium:hover,
.primary_small:hover {
  background: var(--primary-button-hover-color);
}

.primary_large:active,
.primary_medium:active,
.primary_small:active {
  background: var(--primary-button-active-color);
}

.secondary_large,
.secondary_medium,
.secondary_small {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid var(--white-opacity-8) !important;
  background: var(--secondary-button-bg-color);
  color: var(--secondary-button-fg-color) !important;
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.secondary_medium,
.secondary_small {
  gap: 4px;
}

.secondary_large {
  gap: 8px;
  height: 42px;
  font-size: 16px;
}

.secondary_medium {
  height: 34px;
  font-size: 14px;
  padding: 0 12px;
}

.secondary_small {
  height: 28px;
  padding: 6px;
  font-size: 12px;
}

.secondary_large:hover,
.secondary_medium:hover,
.secondary_small:hover {
  background: transparent;
}

.secondary_large:active,
.secondary_medium:active,
.secondary_small:active {
  background: var(--white-opacity-4);
}

.secondary_large:disabled,
.secondary_medium:disabled,
.secondary_small:disabled {
  opacity: 0.2;
}

.input_medium,
.input_medium_disabled,
.textarea_medium,
.textarea_large {
  border-radius: 8px;
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  color: var(--foreground-rgb);
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid var(--white-opacity-8);
}

.input_medium,
.textarea_medium,
.textarea_large {
  background: var(--white-opacity-4);
}

.input_medium::placeholder,
.textarea_medium::placeholder,
.textarea_large::placeholder {
  font-weight: 400;
  color: var(--white-opacity-20);
}

.input_medium:disabled {
  cursor: not-allowed;
  color: var(--foreground-rgb);
  border: 1px solid var(--white-opacity-8) !important;
  background: var(--white-opacity-4);
  opacity: 40%;
}

.textarea_medium {
  height: 72px;
  resize: none;
}

.textarea_large {
  height: 142px;
  resize: none;
}

/* ------------------ ANTD Library Changes (Restricted Actions here onwards) ------------------ */

.ant-select-selector, .ant-picker, .ant-input-number {
  background: var(--white-opacity-4) !important;
  border: 1px solid var(--white-opacity-8) !important;
  box-shadow: none !important;
  color: var(--foreground-rgb) !important;
  border-radius: 8px !important;
}

.ant-select-disabled {
  opacity: 20% !important;
}

.ant-switch-small .ant-switch-handle::before {
  width: 10px;
  height: 10px;
}

.ant-switch {
  border: 1px solid var(--white-opacity-8);
  background-color: var(--white-opacity-8);
}

.ant-switch-checked {
  background-color: var(--foreground-rgb) !important;
}

.ant-switch-checked .ant-switch-handle::before {
  background-color: var(--background-color);
}

.ant-picker-input input {
  color: var(--foreground-rgb) !important;
}

.ant-drawer-wrapper-body {
  background-color: var(--white-opacity-12) !important;
}

.ant-picker-suffix, .ant-input-number-input {
  color: var(--foreground-rgb) !important;
}

.ant-input-number .ant-input-number-input {
  padding: 8px 12px !important;
  height: 32px !important;
}

.ant-picker-input input::placeholder {
  font-weight: 400 !important;
  color: var(--white-opacity-20) !important;
}

/* ---------- A SELECT CSS ---------- */

.ant-select-item-empty {
  color: var(--foreground-rgb) !important;
  opacity: 30%;
  cursor: not-allowed;
}

.ant-select-selection-placeholder {
  font-weight: 400 !important;
  color: var(--white-opacity-20) !important;
}

.ant-select-dropdown {
  border-radius: 8px !important;
  background-color: #1D1D20 !important;
  box-shadow: -2px 2px 24px 0 rgba(0, 0, 0, 0.40) !important;
  color: var(--foreground-rgb) !important;
}


.ant-select-item-option:last-child {
  margin-bottom: 0 !important;
}

.ant-select-item-option-selected, .ant-select-item-option-active {
  border-radius: 8px !important;
  color: var(--foreground-rgb) !important;
  font-family: "Proxima Nova", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.ant-select-item-option-selected {
  background: var(--white-opacity-10) !important;
}

.ant-select-item-option-active {
  background: var(--white-opacity-8) !important;
}

.ant-select-item-option {
  color: var(--foreground-rgb) !important;
  font-family: "Proxima Nova", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.ant-select-multiple .ant-select-selection-item {
  border-radius: 16px !important;
  border: 1px solid rgba(255, 255, 255, 0.08) !important;
  background: rgba(255, 255, 255, 0.14) !important;
  color: var(--foreground-rgb) !important;
  font-family: "Proxima Nova", sans-serif !important;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.anticon-check {
  display: none !important;
}

.ant-select-selection-item-content {
  margin-inline-end: 6px !important;
}

.ant-select-selection-item-remove {
  display: flex !important;
  align-items: center !important;
  margin-right: 2px !important;
  color: var(--white-opacity-60) !important;
}

.ant-select-selection-item-remove > .anticon {
  vertical-align: 0 !important;
}

.ant-select-item.ant-select-item-group {
  color: rgba(255, 255, 255, 0.60) !important;
  font-family: "Proxima Nova", serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
}

.ant-checkbox-inner {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 14px !important;
  height: 14px !important;
  border-radius: 2px !important;
  flex-shrink: 0;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border: 2px solid var(--background-color) !important;
  border-top: 0 !important;
  border-inline-start: 0 !important;
  transform: rotate(45deg) scale(1) translate(-50%, -50%);
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--foreground-rgb) !important;
  border-color: var(--foreground-rgb) !important;
}

.ant-checkbox-indeterminate .ant-checkbox-inner:after {
  background-color: var(--foreground-rgb) !important;
}

.ant-picker-panel {
  border-radius: 8px !important;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15) !important;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%), #131315 !important;
}

.ant-picker-super-prev-icon, .ant-picker-super-next-icon, .ant-picker-header-prev-btn, .ant-picker-header-next-btn {
  color: white !important;
  opacity: 20% !important;
}

.ant-picker-month-btn, .ant-picker-year-btn, .ant-picker-decade-btn {
  color: white !important;
}

.ant-picker-dropdown .ant-picker-content th {
  color: white !important;
  font-weight: 500 !important;
}

.ant-picker-cell-inner {
  color: white !important;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-inner:hover {
  border-radius: 4px !important;
  background: #FFF !important;
  color: #000 !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #FFFFFF;
}

.ant-picker-header {
  border-bottom: 1px solid var(--white-opacity-8) !important;
}

.ant-picker-dropdown .ant-picker-cell-disabled {
  opacity: 40%;
  cursor: not-allowed;
}

/* ---------- A SELECT CSS END ---------- */