.action_container {
    height: 100%;
    width: 400px;
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid var(--white-opacity-8);
    background: var(--white-opacity-4);
    backdrop-filter: blur(10px);
    font-family: "Proxima Nova", sans-serif;
}